/* CUSTOM PROPERTIES/VARIABLES */
:root {
    --DarkBlueMain: hsl(217, 54%, 11%);
    --DarkBlueCard: hsl(216, 50%, 16%);
    --DarkBlueLine: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --SoftBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --FooterColor:  hsl(228, 45%, 44%);


    }




/* ********************* */
/* RESET DEFAULT */
/* ********************* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img,
  picture,
  video,
  canvas,
  svg {
    max-inline-size: 100%;
    block-size: auto;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
    border: none;
  }


  /***********LAYOUT***********/


  body{
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: var(--DarkBlueMain);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }


  .card{
    background-color: var(--DarkBlueCard);
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    /* margin-bottom: 60px ; */

  }


  .card-image{
    width:280px;
    height:280px;
    border-radius: 15px;
    overflow:hidden;


  }


  .card-image:hover {
    overflow: visible;
}

  .card-image img{
    height: 100%;
    width: 100%;


  }

 
.card-image-decoration{
    height: 100%;
    width:100%;
    background-image: url(images/icon-view.svg);
    background-position: center;
    background-repeat: no-repeat;
    translate: 0 -285px;
    opacity: 0;

}





.card-image:hover .card-image-decoration{
  
    background-color: var(--Cyan);
    opacity: 0.3;
}


.card-header{

    color: var(--White);
    margin: 20px 0px;
    font-size: 20px;
}


.card p{

    font-size: 15px;
}


.card-header:hover{

    color: var(--SoftBlue);
    
}


.card-description{
    color: var(--SoftBlue);
    line-height: 20px;
}


.container-price-day{

    display: flex;
    margin: 20px 0;
    justify-content: space-between;
   
  }


.container-price{

    display: flex;
    align-items: center;
  }


.container-day{
    display: flex;
    align-items: center;

  }

.price{
    color: var(--Cyan);
    margin-left: 7px;
    font-size: 15px;
    }


.days-left{
        color: var(--SoftBlue);
        margin-left: 7px;
        font-size: 15px;
}


.line-1 {
    height: 1px;
    width: 100%;
    background: var(--DarkBlueLine);
  }


.container-creator{
    display: flex;
    align-items: center;
    margin: 10px 0;
   
  }


.container-creator img{
    width: 32px;
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 50%;
  } 


.container-creator p{
   
    font-size: 14px;
    color: var(--SoftBlue);
  }

  
.creator-name{
    color: var(--White);
  }


.creator-name:hover{
    color: var(--SoftBlue)
  }

 
.attribution { font-size: 11px;
                text-align: center;
                color: var(--FooterColor);
                position:relative;
                top: 130px;
                

}
 
.attribution a{

    color: var(--White)
}


.attribution a:hover{

    color: var(--SoftBlue)
}